
/* variables globales */
$bg-color: #eff0f6;
$primary-purple: #6b00f5;
$secondary-orange: #f5a700;
$Ghost-White: #f7f7ff;
$Pattens-Blue: #e1f0fe;
$Pretty-red: #fbe4f0;
$White-Ice: #defef0;
$Purple-Ice: #d7d6fc;
$mobile-font: 0.7em;
$desktop-font: 1em;

$fontFamily: "Poppins", sans-serif;
